:root {
  --body-bg-color: #F1F5F9;
  --font-color: #1E293B;
  --bg-color: #ffffff;
  --add-task-bg-color: #BBF7D1;
  --add-task-btn-color: #28A34B;
  --delete-task-bg-color: #FCCACA;
  --delete-task-btn-color: #EF4444;
  --box-shadow-color: #D2D6D9;
  --task-btn-size: 40px;
  --task-btn-container: 36px;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: var(--body-bg-color);
  color: var(--font-color);
  font-family: 'Inter',
    sans-serif;
}

main {
  margin: 80px auto;
  width: 100%;
  max-width: 650px;
  height: 100vh;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* Random Quote Section*/
.todays-motivation {
  font-size: 10px;
}

.random-quote {
  background-color: var(--bg-color);
  margin: 20px 0px 80px 0px;
  height: 60px;
  align-items: center;
  padding: 20px 0px;
  border-radius: 5px;
}

.random-quote-text {
  padding: 0 20px;
}

.quote {
  margin: 0 auto;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}

.author {
  float: right;
  font-size: 12px;
}

/*Task section*/
.add-task {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 0;
}

/* 'Tasks' */


/* Form button */

.add-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--add-task-bg-color);
  border: transparent 0px solid;
  border-radius: 20%;
  height: var(--task-btn-size);
  width: var(--task-btn-size);
  color: var(--add-task-bg-color);
}

.add-task-btn:hover {
  display: flex;
  width: 120px;
  border-radius: 5px;
  justify-content: space-between;
}

.btn-text {
  color: var(--font-color);
  display: none;
}

.add-task-btn:hover .btn-text {
  display: block;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--delete-task-bg-color);
  border: transparent 0px solid;
  border-radius: 20%;
  height: var(--task-btn-size);
  width: var(--task-btn-size);
  color: var(--delete-task-bg-color);
}

.delete-task {
  position: absolute;
  left: 660px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  word-wrap: normal !important;
}

/*Form and form items*/
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-item-group {
  display: flex;
  width: 100%;
  position: relative;
}

.form-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  margin-bottom: 20px;
  height: 40px;
  align-items: center;
  padding: 0px 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px var(--box-shadow-color);
  font-size: 14px;
  width: 100%;
}

.form-item-group:hover .delete-task {
  position: absolute;
  border: inherit;
  clip: inherit;
  clip-path: inherit;
  height: var(--task-btn-size);
  margin: 0;
  overflow: visible;
  padding: 0;
  width: 1px;
  word-wrap: inherit;
}

.form-item label {
  padding-left: 4px;
}